.page-main {
  text-align: center;
  width: 320px;
}

.page-main__wrapper {
  margin-top: -30px;
}

.programm {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  height: 447px;
  color: white;
  margin-bottom: 3px;
}

.programm__promo {
  padding-top: 27px;
  font-size: 36px;
  font-weight: 100;
  line-height: 1;
}

.programm__activ {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: -3px;
  margin-top: -7px;
}

.programm__activ::after {
  content: "";
  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 12px 27px;
  width: 300px;
  height: 280px;
  padding-bottom: 13px;
}

.page-main__promo {
  margin-bottom: 35px;
  height: 465px;
}

.programm__button {
  padding: 10px 73px;
  font-size: 14px;
  padding-top: -10px;
}

.slim {
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  width: 280px;
  height: 267px;
}

.slim__element {
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  padding-top: 23px;
}

.slim__element::before {
  content: "";
  width: 50px;
  height: 50px;
  background: #68b738;
  border-radius: 50%;
  display: inline-block;
  vertical-align: -15px;
  margin-left: 22px;
  margin-right: 20px;
}

.slim__element::after {
  content: "";
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 35px;
  height: 52px;
  vertical-align: -15px;
  margin-left: -170px;
}


.slim__text {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 1.3;
  margin-right: 20px;
  border-bottom: solid 1px #d9d9d9;
  padding-bottom: 22px;
  margin-left: 20px;
  margin-bottom: 17px;
  margin-top: -1px;
}

.slim__link {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.slim__link::after {
  content: "";
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 23px;
  height: 12px;
  margin-left: 12px;
}

.pro {
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  width: 280px;
  height: 267px;
  margin-top: -5px;
}

.pro__element {
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  padding-top: 26px;
  margin-left: -2px;
}

.pro__element::before {
  content: "";
  width: 50px;
  height: 50px;
  background: #68b738;
  border-radius: 50%;
  display: inline-block;
  vertical-align: -15px;
  margin-left: 24px;
  margin-right: 20px;
}

.pro__element::after {
  content: "";
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 67px;
  height: 28px;
  vertical-align: -15px;
  margin-left: -217px;
  margin-bottom: 12px;
}


.pro__text {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 1.3;
  margin-right: 20px;
  margin-top: -2px;
  border-bottom: solid 1px #d9d9d9;
  padding-bottom: 22px;
  margin-left: 20px;
  margin-bottom: 17px;
}

.pro__link {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.pro__link::after {
  content: "";
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 13px;
  margin-left: 12px;
}

.question {
  font-size: 36px;
  font-weight: 100;
  text-align: left;
  margin: 0;
  padding-left: 20px;
  padding-top: 25px;
  margin-bottom: 32px;
}

.info-list {
  list-style-type: none;
  line-height: 1.3;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  padding-left: 20px;
  text-align: left;
  margin-top: 42px;
  width: 280px;
}

.info-list__item::before {
  background-color: #68b738;
  content: "";
  background-repeat: no-repeat;
  background-position: center 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  float: left;
  margin-right: 20px;
}

.leaf {
  margin-top: 27px;
}

.powder {
  margin-top: 25px;
}

.dining {
  margin-top: 27px;
}

.clock {
  margin-top: 25px;
}

.leaf::before {
  background-image: url("../img/advantage-leaf@1x.png");
  margin-top: -3px;
}

.powder::before {
  background-image: url("../img/advantage-powder@1x.png");
  margin-top: -2px;
}

.dining::before {
  background-image: url("../img/advantage-dining@1x.png");
  margin-top: -3px;
}

.clock::before {
  background-image: url("../img/advantage-clock@1x.png");
  margin-top: -1px;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
  }

  .programm {
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    height: 826px;
    color: white;
    width: 709px;
    background-position: 0 225px;
  }

  .programm__promo {
    color: black;
    font-size: 60px;
    margin-left: 87px;
    padding-top: 21px;
    width: 500px;
    text-align: left;
    line-height: 1.03;
    margin-bottom: 38px;
  }

  .programm__activ::after {
    opacity: 0;
  }

  .programm__activ {
    color: black;
    font-size: 20px;
    width: 300px;
    height: 30px;
    margin: 0;
    padding: 0;
    margin-left: 79px;
    padding-top: 3px;
  }

  .programm__button {
    position: absolute;
    top: 370px;
    left: 118px;
    font-size: 20px;
    width: 245px;
    padding: 13px 0;
  }

  .page-main__promo {
    margin-bottom: 0;
    height: 815px;
  }

  .slim {
    width: 636px;
    height: 328px;
    padding: 0;
    margin: 0;
    padding-left: 52px;
    padding-right: 20px;
    margin-top: 17px;
    padding-top: 45px;
  }

  .slim__element {
    font-size: 36px;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-left: -41px;
    margin-top: 11px;
  }

  .slim__element::before {
    content: "";
    width: 0;
    height: 0;
  }

  .slim__element::after {
    content: "";
    width: 0;
    height: 0;
  }

  .slim__text {
    font-size: 16px;
    font-family: "Arial", sans-serif;
    line-height: 1.5;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 13px;
    width: 380px;
    margin-bottom: 50px;
  }

  .slim__link {
    font-size: 20px;
    margin-left: 0;
  }

  .slim__link::after {
    width: 24px;
    height: 11px;
    margin-left: 24px;
    vertical-align: 3px;
  }

  .slim::after {
    content: "";
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 140px;
    height: 194px;
    vertical-align: 35px;
    margin-left: 265px;
    margin-top: -205px;
  }

  .slim::before {
    content: "";
    width: 200px;
    height: 200px;
    background: #68b738;
    border-radius: 50%;
    display: inline-block;
    margin-left: 395px;
    margin-bottom: -232px;
  }

  .pro {
    width: 636px;
    height: 328px;
    padding: 0;
    margin: 0;
    padding-left: 52px;
    padding-right: 20px;
    margin-top: 29px;
    padding-top: 45px;
  }

  .pro__element {
    font-size: 36px;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-left: -43px;
    margin-top: 10px;
  }

  .pro__element::before {
    content: "";
    width: 0;
    height: 0;
  }

  .pro__element::after {
    content: "";
    width: 0;
    height: 0;
  }

  .pro__text {
    font-size: 16px;
    font-family: "Arial", sans-serif;
    line-height: 1.5;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 13px;
    width: 340px;
    margin-bottom: 57px;
  }

  .pro__link {
    font-size: 20px;
    margin-left: 0;
  }

  .pro__link::after {
    width: 24px;
    height: 11px;
    margin-left: 24px;
    vertical-align: 3px;
  }

  .pro::after {
    content: "";
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 268px;
    height: 112px;
    vertical-align: 87px;
    margin-left: 360px;
    margin-top: -178px;
  }

  .pro::before {
    content: "";
    width: 200px;
    height: 200px;
    background: #68b738;
    border-radius: 50%;
    display: inline-block;
    margin-left: 395px;
    margin-bottom: -231px;
  }

  .page-main__info {
    margin-top: 40px;
  }

  .question {
    padding: 0;
    font-size: 60px;
  }

  .info-list {
    width: 708px;
    height: 630px;
    display: grid;
    grid-template-columns: 354px 354px;
    grid-template-rows: 317px 320px;
    grid-template-areas:
      "red green"
      "yellow black";
    padding: 0;
    margin-left: 0;
    margin-top: 47px;
  }

  .leaf {
    grid-area: red;
    line-height: 1.5;
    padding-top: 56px;
  }

  .leaf::after {
    content: "1";
    display: inline-block;
    margin-left: -63px;
    font-size: 281px;
    font-family: "Oswald", sans-serif;
    opacity: 0.1;
    margin-top: -360px;
    vertical-align: -50px;
    color: grey;
  }

  .powder {
    grid-area: green;
    padding-left: 30px;
    padding-top: 57px;
    line-height: 1.5;
  }

  .powder::after {
    content: "2";
    display: inline-block;
    margin-left: -31px;
    font-size: 281px;
    font-family: "Oswald", sans-serif;
    opacity: 0.1;
    margin-top: -360px;
    vertical-align: -50px;
    color: grey;
  }

  .dining {
    grid-area: yellow;
    padding-top: 49px;
    line-height: 1.5;
  }

  .dining::after {
    content: "3";
    display: inline-block;
    margin-left: 114px;
    font-size: 281px;
    font-family: "Oswald", sans-serif;
    opacity: 0.1;
    margin-top: -350px;
    vertical-align: -27px;
    color: grey;
  }

  .clock {
    grid-area: black;
    padding-top: 49px;
    padding-left: 30px;
    line-height: 1.49;
  }

  .clock::after {
    content: "4";
    display: inline-block;
    margin-left: 113px;
    font-size: 281px;
    font-family: "Oswald", sans-serif;
    opacity: 0.1;
    margin-top: -360px;
    vertical-align: -27px;
    color: grey;
  }

  .info-list__item {
    margin: 0;
    width: 245px;
    font-size: 16px;
    padding-top: 2px;
  }

  .info-list__item::before {
    width: 30px;
    height: 30px;
    margin-right: 150px;
    margin-bottom: 31px;
    background-position: 15px 13px;
    margin-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: 1300px;
    margin: 0;
    padding: 0;
  }

  .programm::after {
    content: "";
    display: inline-block;
    background-image: url("../img/index-can-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 45%;
    height: 621px;
    width: 1230px;
    background-position: -18px 6px;
    margin-left: 506px;
    margin-top: -273px;
  }

  .programm {
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 649px 4px;
    background-size: 50%;
    margin-top: -159px;
    width: 1440px;
    height: 746px;
  }

  .programm__promo {
    padding-left: 32px;
    padding-top: 225px;
    width: 500px;
    line-height: 1;
    margin-bottom: 38px;
  }

  .programm__activ {
    width: 300px;
    height: 30px;
    margin-left: 111px;
  }

  .programm__button {
    position: relative;
    top: -273px;
    left: -410px;
    padding: 11px 28px;
  }

  .categories {
    display: grid;
    width: 1220px;
    grid-template-columns: 610px 610px;
    grid-template-rows: 360px;
    grid-template-areas: "red yellow";
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    margin-top: -35px;
  }

  .slim {
    grid-area: red;
    padding: 0;
    margin: 0;
    padding-left: 50px;
    width: 520px;
    height: 360px;
    padding-top: 12px;
  }

  .pro {
    grid-area: yellow;
    padding: 0;
    margin: 0;
    padding-left: 50px;
    width: 522px;
    height: 360px;
    margin-left: 38px;
    padding-top: 14px;
  }

  .slim::after {
    width: 70px;
    height: 97px;
    vertical-align: 170px;
    margin-left: -145px;
    margin-top: -130px;
  }

  .slim::before {
    width: 100px;
    height: 100px;
    margin-left: 0;
    margin-bottom: -120px;
  }

  .slim__text {
    padding: 0;
    margin: 0;
    margin-top: 62px;
    width: 480px;
    padding-left: 1px;
    margin-bottom: -86px;
  }

  .slim__element {
    margin-top: 44px;
    margin-left: 121px;
  }

  .slim__link {
    padding-left: 1px;
  }

  .pro::after {
    width: 134px;
    height: 56px;
    vertical-align: 185px;
    margin-left: -173px;
    margin-top: -104px;
  }

  .pro::before {
    width: 100px;
    height: 100px;
    margin-left: 3px;
    margin-bottom: -118px;
  }

  .pro__text {
    padding: 0;
    margin: 0;
    margin-top: 63px;
    width: 480px;
    padding-left: 3px;
    margin-bottom: -88px;
  }

  .pro__element {
    margin-top: 42px;
    margin-left: 121px;
  }

  .pro__link {
    padding-left: 3px;
  }

  .question {
    padding: 0;
    padding-left: 38px;
    padding-top: 41px;
  }

  .info-list {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    height: 300px;
    padding: 0;
    margin: 0;
    padding-left: 40px;
    padding-top: 149px;
  }

  .clock {
    margin: 0;
  }

  .info-list__item {
    padding: 0;
    margin: 0;
    width: 248px;
    margin-top: -132px;
  }

  .info-list__item::before {
    width: 30px;
    height: 30px;
    margin-right: 150px;
    margin-bottom: 31px;
    background-position: 15px 13px;
  }

  .info-list__item::after {
    padding-top: 200px;
    line-height: 200px;
  }

  .clock::after {
    margin-top: -383px;
  }

  .clock::before {
    margin-left: 3px;
  }

  .dining::after {
    margin-top: -383px;
  }
}
