.page-main__example {
  width: 100%;
  padding-bottom: 37px;
  left: 0;
  right: 0;
  height: 567px;
  background-color: #f2f2f2;
  padding-top: 35px;
}

.example {
  font-size: 36px;
  font-weight: 500;
  padding-top: 25px;
  width: 320px;
  padding-left: 20px;
  margin-top: 46px;
  margin-bottom: 0;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.example-fix {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
}


.example-wrapper {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

.example-text {
  text-align: left;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  width: 270px;
  line-height: 1.3;
  margin-bottom: 24px;
  margin-top: 0;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 16px;
  width: 198px;
  padding-left: 63px;
  padding-top: 31px;
}

.cat-presentation {
  width: 320px;
  height: 240px;
}

.cost {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 36px;
  margin-bottom: 36px;
  font-weight: 300;
  font-family: "Oswald", "Arial", sans-serif;
  padding-right: 19px;
}

.wrapper-example {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.example-numbers {
  border: 1px solid #cdcdcd;
  width: 122px;
  height: 54px;
  text-align: center;
}

.numbers-annotation {
  width: 82px;
  margin-top: -17px;
  background-color: #f2f2f2;
  margin-left: 16px;
  font-size: 12px;
  font-family: "Arial", "Helvetica", sans-serif;
  padding-left: 3px;
  padding-right: 3px;
}

.numbers {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 12px;
}

.button-slide {
  border: none;
  background-color: #f2f2f2;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  border-bottom: 1px dotted #d3d3d3;
  cursor: pointer;
}

.slider {
  display: block;
  position: relative;
  width: 83px;
  height: 13px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid rgb(196, 194, 194);
}

.slider::before {
  content: "";
  background-color: rgb(4, 163, 4);
  border-radius: 20px;
  width: 35px;
  height: 7px;
  position: absolute;
  left: 6px;
  bottom: 3px;
  cursor: pointer;
}

.slider-visual::-webkit-slider-thumb {
  appearance: none;
  width: 36px;
  height: 6px;
  background: #68b738;
  cursor: pointer;
  border-radius: 10px;
}

.presentation-wrapper {
  width: 320px;
  margin-left: -20px;
}

.button-slide:hover {
  border-bottom: 1px solid #d3d3d3;
}

.button-slide:active {
  border-bottom: none;
  outline: none;
}

@media (min-width: @tablet-width) {
  .page-main__example {
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: white;

    margin-top: 34px;
  }

  .example-wrapper {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  .example {
    font-size: 60px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1px;
    width: 709px;
  }

  .example-fix {
    background-color: transparent;
    border-top: 1px solid #ededed;
    margin-top: 34px;
  }

  .example-text {
    width: 702px;
    font-size: 16px;
    margin-top: 61px;
    line-height: 1.5;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5px;
  }

  .wrapper-example {
    margin-top: 28px;
    margin-left: 0;
    width: 366px;
    margin-right: 0;
  }

  .example-numbers {
    width: 160px;
    height: 70px;
  }

  .numbers {
    font-size: 30px;
    padding-top: 4px;
  }

  .numbers-annotation {
    font-size: 14px;
    width: 97px;
    background-color: white;
    margin-left: 25px;
    margin-top: -20px;
    padding-left: 6px;
    padding-right: 10px;
  }

  .numbers-time {
    width: 127px;
    padding-left: 5px;
    padding-right: 10px;
    margin-left: 11px;
  }

  .cost {
    font-size: 20px;
    width: 190px;
    text-align: right;
    font-weight: 100;
    margin-right: 1px;
    margin-top: 34px;
    line-height: 1.45;
    padding-right: 0;
  }

  .wrapper-flex {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 708px;
  }

  .presentation {
    font-size: 20px;
    width: 570px;
    padding-top: 14px;
    margin-left: 1px;
  }

  .legend {
    display: none;
  }

  .cat-presentation {
    width: 685px;
    height: 514px;
    margin-top: -171px;
    margin-left: 14px;
  }


  .presentation-wrapper {
    width: 100%;
    background-color: #eaeaea;
    margin-top: 228px;
    text-align: left;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .presentation-fix {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .button-slide {
    font-size: 20px;
    margin-top: 6px;
    padding-bottom: 3px;
    background-color: #eaeaea;
  }

  .slider::after {
    content: "";
    background-color: rgb(4, 163, 4);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    border: 12px solid white;
    left: 199px;
    bottom: -14px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .slider::before {
    display: none;
  }

  .slider {
    display: block;
    position: relative;
    width: 427px;
    height: 5px;
    border-radius: 20px;
    background-color: rgba(179, 174, 174, 0.411);
    border: none;
  }

  .slider:hover::after {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  }

  .slider:active::after {
    box-shadow: 0 0 0 2px rgba(4, 163, 4, 0.815), 0 3px 10px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: @desktop-width) {
  .page-main__example {
    width: 100%;
    background-color: #f2f2f2;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 460px;
  }

  .example-wrapper {
    width: 1300px;
    margin-right: auto;
    padding: 0;
    border-top: none;
    margin-left: auto;
    margin-top: 0;
    display: grid;
    grid-template-columns: 600px 630px;
    grid-template-rows: 170px 145px 151px;
    grid-template-areas:
      "lime tomato"
      "wheat tomato"
      "wheat tomato";
    padding-bottom: 24px;
  }


  .example {
    padding-left: 40px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    margin-top: 0;
    padding-top: 3px;
  }

  .example-fix {
    border: none;
  }

  .wrapper-flex {
    grid-area: wheat;
    flex-direction: column;
    height: 200px;
    width: 600px;
    justify-content: start;
    background-color: #f2f2f2;
    display: block;
  }

  .example-text {
    margin: 0;
    padding: 0;
    grid-area: lime;
    background-color: #f2f2f2;
    padding-top: 71px;
    padding-left: 40px;
    width: 435px;
    padding-right: 127px;
    display: block;
  }

  .wrapper-example {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    width: 366px;
    padding-left: 40px;
    padding-top: 66px;
    padding-bottom: 56px;
  }

  .cost {
    float: none;
    width: 100%;
    text-align: left;
    grid-area: black;
    background-color: #f2f2f2;
    margin: 0;
    padding-left: 40px;
    padding-bottom: 68px;
  }

  .cost-number {
    margin-left: 60px;
  }

  .presentation-wrapper {
    grid-area: tomato;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    display: block;
  }

  .button-slide {
    background-color: #f2f2f2;
  }

  .numbers-annotation {
    background-color: #f2f2f2;
  }

  .presentation {
    padding-left: 88px;
    padding-top: 32px;
  }

  .cat-presentation {
    margin-left: 10px;
    margin-top: -188px;
  }

  .slider {
    margin-top: 2px;
  }
}
