
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/oswaldregular.woff') format('woff'),
  url('../fonts/oswaldregular.woff2') format('woff2'),
  url('../fonts/oswaldmedium.woff') format('woff'),
  url('../fonts/oswaldmedium.woff2') format('woff2');
}
@import "page-header.less";
@import "page-main.less";
@import "page-footer.less";
@import "catalog.less";


body {
  font-family: 'Oswald';

}
.button{
  padding:9px 73px 10px 73px;
  background-color:#68b738;
  text-transform:uppercase;
  text-decoration:none;
  color:white;
  font-family: 'Oswald';
}

.visually-hidden{
  display:none;
}
